@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
    scroll-behavior: smooth;
}

header {
    height: 105px;
    max-width: 100%;
    background-color: #fff;
    position: relative;
}

header .top-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 9%;
    font-family: Inter;
    font-size: 14px;
    height: 40px;
    line-height: 18px;
    border-bottom: 1px solid #F0F0F0;
}

header .top-header .box-one,
.box-two {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .top-header .box-one .select {
    font-family: Inter;
    font-size: 14px;
    border: none;
    outline: none;
    background: #fff;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 9%;
}

.nav-header .logo {
    cursor: pointer;
}

.nav-header .cart {
    position: relative;
    background-color: #FF7010;
    width: 89px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
}

.nav-header .cart-shop {
    position: absolute;
    top: 25%;
    left: 17%;
    display: flex;
}

.nav-header .cart-shop p {
    color: #fff;
    padding-left: 5px;
    font-size: 16px;
    font-weight: 400;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 7%;
    gap: 30px;
}

.nav-bar .box {
    height: 104px;
    width: 135px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar .box a {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #191919;
}

.nav-bar .box .name-box {
    text-align: center;
}

.acsiya {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 7%;
    justify-content: center;
    gap: 30px;
}

.acsiya .box {
    width: 300px;
    height: 343px;
    border-radius: 12px;
}

.postavka {
    width: 1290px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 8px;
    margin: 16px 8%;
}

.postavka .postavka-input {
    width: 783px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
}

.postavka .btn {
    width: 150px;
    height: 48px;
    background: #FF7010;
    border-radius: 6px;
    color: #fff;
}

.pizza-block-header {
    display: flex;
    justify-content: space-between;
    padding: 16px 7%;
}

.pizza-block-header .heading {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #191919;
}

.pizza-block-header .pizza-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 16px;
    width: 126px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
}

.pizza-block-header .pizza-filter p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #191919;
    padding-left: 8px;
}

.pizza-content .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 16px 7%;
    max-width: 100%;
}

.pizza-content .box-container .box {
    width: 300px;
    height: 480px;
    background-color: #fff;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
}

.pizza-content .box-container .box .name-pizza {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #191919;
    padding-top: 16px;
    padding-left: 20px;
}

.pizza-content .box-container .box .description-pizza {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #191919;
    padding: 12px 20px;
}

.pizza-content .box-container .box .footer-pizza {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}

.pizza-content .box-container .box .footer-pizza .btn {
    background: #FF7010;
    border-radius: 6px;
    padding: 13px 32px;
    cursor: pointer;
    color: #fff;
}

.pizza-content .box-container .box .footer-pizza .price {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FF7010;
}

.back-filter {
    display: none;
    background: rgba(25, 25, 25, 0.4);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.back-filter.active {
    display: flex;
}

.modal-pizza {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    filter: none;
    overflow: hidden;
    height: 945px;
    width: 520px;
    background-color: #fff;
}

.modal-pizza .modal-name {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #191919;
    padding-top: 32px;
    padding-left: 20px;
}

.modal-pizza .modal-close {
    position: absolute;
    font-size: 24px;
    top: 42px;
    right: 20px;
    cursor: pointer;
}

.modal-pizza .modal-subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #A5A5A5;
    padding-left: 20px;
    padding-top: 10px;
}

.modal-pizza .modal-content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.modal-pizza .modal-content span {
    border: 1px solid #A5A5A5;
    border-radius: 6px;
    padding: 5px;
    display: block;
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.modal-pizza .modal-content span.active {
    background-color: #FF7010;
    color: #fff;
    border: 1px solid #FF7010;
}

.modal-pizza .modal-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    gap: 18px;
}

.modal-pizza .modal-control .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 80px;
    background: #ffffff;
    border: 1px solid #FF7010;
    border-radius: 6px;
    color: #FF7010;
    cursor: pointer;
}

.modal-pizza .modal-control .btn:hover {
    background-color: #FF7010;
    color: #fff;
}